@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

#tarka-chat {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 700px;
  z-index: 1000;

  ul {
    list-style-type: disc;
    padding-inline-start: 1em;
  }

  .t-container {
    font-family: Inter;
    width: 400px;
    border: 1.5px solid var(--primary-primary-alt-subtle);
    border-radius: 32px 32px 8px 32px;
    box-shadow: -28px 48px 42px 0px rgba(0, 0, 0, 0.03);
    flex-direction: column;
    overflow: hidden;
    display: none;
    position: relative;
    background: #ffffff;

    .scroll-fade {
      position: absolute;
      width: 100%;
      height: 140px;
      background: var(--gradient-gradient-fade);
    }

    .header {
      display: flex;
      padding: 24px;
      justify-content: space-between;
      align-items: center;

      .title {
        overflow: hidden;
        color: var(--primary-primary-alt);
        text-overflow: ellipsis;
        opacity: 0.6;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.18px;
      }

      .logo {
        width: 32px;
        height: 32px;
      }
    }

    .body {
      background: var(--gradient-background);
      padding: 0px 24px;
      min-height: 200px;
      overflow-y: auto;

      .message-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .message:first-of-type {
          margin-top: 32px;
        }

        .message {
          max-width: 90%;

          .wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 8px;
            border-radius: 8px;
          }

          .message-content {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.18px;
            overflow-wrap: break-word;
            margin: 4px 0;
          }

          .attachment {
            display: flex;
            align-items: center;
            margin: 4px 0;

            .attachment-info {
              display: flex;
              border: 1px solid var(--primary-primary-subtle, #f0dafb);
              border-radius: 4px;
              padding: 8px;
              border-radius: 8px;

              .attachment-file-name {
                font-size: 14px;
                font-weight: 700;
                padding: 0 15px 0 5px;
                align-self: center;
                color: #333;
              }

              .attachment-download-btn {
                border: 1px solid var(--primary-primary-subtle, #f0dafb);
                border-radius: 4px;
                padding: 8px 12px;
                background: var(--primary-primary-subtle, #f0dafb);
                cursor: pointer;
                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }

          .high-chart-container {
            width: 110%;
            height: 300px;
            position: relative;
            border: 1px solid var(--primary-primary-subtle, #f0dafb); /* Set border color as needed */
            border-radius: 15px;
            margin: 4px 0;

            .highcharts-button-box {
              fill: var(--primary-primary-subtle, #f0dafb) !important;
            }
          }

          .table-container {
            width: 110%;
            position: relative;
            border: 1px solid var(--primary-primary-subtle, #f0dafb);
            border-radius: 15px;
            overflow-x: auto;


            table {
              border-collapse: collapse;
              border-radius: 5px;
              min-width: 100%;
            }

            th,td {
              white-space: nowrap;
              padding: 5px;
      
              border-right: 1px solid var(--primary-primary-subtle, #f0dafb); 
              border-bottom: 1px solid var(--primary-primary-subtle, #f0dafb);
            }
            th:last-child,td:last-child {
              border-right: 0px solid var(--primary-primary-subtle, #f0dafb); /* Left-most border for the first cell */
            }
          }

          .image-container {
            position: relative;
            border: 1px solid var(--primary-primary-subtle, #f0dafb); /* Set border color as needed */
            border-radius: 15px;
            margin: 4px 0;

            img {
              width: 100%;
              border-radius: inherit;
              height: auto;
              display: block;
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            margin: 8px;
            border: 1px solid var(--primary-primary-subtle, #f0dafb); /* Set border color as needed */
            border-radius: 4px;
            padding: 10px 12px;
            background: var(--primary-primary-subtle, #f0dafb);
            cursor: pointer;
            img {
              width: 16px;
              height: 16px;
            }
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }

          .message-meta {
            margin: 4px 0;
            color: var(--primary-primary-alt);
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.12px;
          }
        }

        .incoming {
          color: var(--primary-primary-alt);
        }

        .outgoing {
          margin-left: auto;
          color: var(--primary-primary);
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;

      .input-container {
        display: flex;
        padding: 8px 8px 8px 24px;
        align-items: center;
        width: 100%;

        .chat-input {
          color: var(--primary-primary-alt);
          opacity: 0.7;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          flex: 1;
          border: none;

          &:focus {
            outline: none;
          }
        }

        .upload-btn {
          width: 48px;
          height: 48px;
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          
          path {
            fill: var(--primary-primary, #9500b3);
          }
        }

        .send-btn {
          width: 48px;
          height: 48px;
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;

          path {
            fill: var(--primary-primary, #9500b3);
          }
        }
      }

      .chat-loader {
        display: none;
        padding: 8px;

        &:after {
          content: " ";
          display: block;
          width: 24px;
          height: 24px;
          margin: 8px;
          border-radius: 50%;
          border: 4px solid #9500b3;
          border-color: #9500b3 transparent #9500b3 transparent;
          animation: chat-loader 1.2s linear infinite;
        }
      }
      @keyframes chat-loader {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .upload-preview-container {
      display: none;
      flex: 0 0 auto;
      overflow-x: auto;
      white-space: nowrap;
      gap: 10px;
      padding: 15px 10px 25px 10px;
    }
  }

  .launcher {
    flex: none;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px 10px 20px 20px;
    background: var(--primary-primary-subtle, #f0dafb);
    margin-top: 8px;

    .opened {
      display: none;
    }
  }

  // Override fills in logo face
  .tc-logo-face path {
    fill: var(--primary-primary-subtle, #f0dafb);
  }

  // Other available selectors are:
  // .tc-logo-left-eye, .tc-logo-right-eye, .tc-logo-mouth

  .upload-preview-item {
    flex: 0 0 auto;
    width: 60px;
    height: 80px;
    position: relative;
    border: 1px solid #444444;
    border-radius: 5px;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 700px) {
  #tarka-chat {
    bottom: 10px;
    right: 10px;
    .t-container {
      width: calc(100vw - 20px);
    }
  }
}
